

p.txtcentrado {
text-align:center;
}

header h2{
	font-family: cursive;,serif;
	font-weight: normal;
	
}
p.txtcolor{
	color: #C0C0C0;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

#idfont{
	background-color:#F59A1B; 
}



